autostart/
baidunetdisk/
cef_user_data/
chromium/
configstore/
dconf/
Dharkael/
eDEX-UI/
Electron/
Epic/
fcitx/
FeePerfect/
fish/
GIMP/
gtk-2.0/
gtk-3.0/
Hacknet/
htop/
kitty/
libreoffice/
menus/
mimeapps.list
MonoGame/
Motrix/
Mousepad/
mpd/
mpv/
neofetch/
netease-cloud-music/
omf/
pavucontrol.ini
photoflare.io/
procps/
protonfixes/
pulse/
qBittorrent/
QtProject.conf
rncbc.org/
screenkey.json
teamviewer/
tencent-qq/
Thunar/
TRSC2017/
unity3d/
Unknown Organization/
VA_11_Hall_A/
variety/
VirtualBox/
vlc/
xfce4/
yay/
